extends layout
block custom_script
  script(type='text/javascript') var $TIMESTAMP='#{timestamp}',lang=!{json_lang},db,Job=!{json_data},$Job=jQuery.extend(!0,{},Job),urls=!{urls}
  script(type='text/javascript', src=fn.url.js('maze.min'))
  script(type='text/javascript') var dskills=$('.dskill');skillsim();

block content
  div.container
    div.modal#modal(tabindex='-1', role='dialog', aria-labeledby='warning', aria-hidden='true')
      div.modal-dialog: div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
          h4.modal-title#modal-title
        div.modal-body#modal-body
    div.row#changables
      div.col-md-2
        div.form-inline: div.form-group
          select.form-control#level
          button#level-btn.btn.btn-sm.btn-default(type='reset')= lang.level.reset
      div.col-md-7
        button#techs.btn.btn-sm.btn-default(type='button') Techniques
      div.col-md-3
        div.btn-group.push-left
          button#free.btn.btn-sm(type='button', class={'btn-primary': data.Free, 'btn-default': !data.Free})= lang.mode.free
          button#strict.btn.btn-sm(type='button', class={'btn-primary': !data.Free, 'btn-default': data.Free})= lang.mode.strict
        div.btn-group.pull-right
          button#pve.btn.btn-sm(type='button', class={'btn-primary': !data.ApplyType, 'btn-default': !!data.ApplyType})= lang.apply[0]
          button#pvp.btn.btn-sm(type='button', class={'btn-primary': !!data.ApplyType, 'btn-default': !data.ApplyType})= lang.apply[1]
    div.row
      div.col-md-12
        div.progress
          - var sum = data.TSP[0] + data.TSP[1] + data.TSP[2], rem = max_sp - sum, progress = (sum / max_sp) * 100
          span#rem-progress= format(lang.progress.remaining, rem)
          span#curr-progress= format(lang.progress.curr, sum)
          div#progress.progress-bar.progress-bar-info(style={width: progress + '%'})
          span#max-progress= format(lang.progress.max, max_sp)
    div.row
      each job, index in line
        div.col-md-4.noselect
          div.panel.panel-default(data-job=index)
            +panel_header(job, index)
            +panel_body(job)


mixin panel_header(job, index)
  div.panel-heading= job.JobName
    div.jobsprite(style=fn.image.job(job))
    span.label.pull-right #{data.TSP[index]}/#{job_max_sp[index]}


mixin panel_body(job)
  div.panel-body
    table.skill-table(style=fn.image.skilltree(job, version))
      each skillRow in job.SkillTree
        tr.skill-tr
          each skillID in skillRow
            +skill(job.Skills[skillID], skillID)


mixin skill(skill, skillID)
  td(class='skill-td')
    if skill
      - var lvl = data.Cache[skillID]
      - var techs = fn.count_techs(data.Techs, skillID)
      div.skill.dskill(data-skill=skillID)
        div.skill-bdr(class={g: !lvl[0]})
        div.badge.skill-lvl(class={g: techs == 1, b: techs == 2})
    else
      div.skill
  - tree_pos++;