extends layout

block content
  nav(class='navbar navbar-default navbar-static-top')
    div(class='container')
      div(id='navbar')
        ul(class='nav navbar-nav')
          each job0 in jobs.filter(function(j) { return j.JobNumber == 0 })
            li(class='dropdown' + (job0 == line[0] ? ' active' : ''))
              a(href='#')= job0.JobName
                span(class='caret')
              ul(class='dropdown-menu')
                each job1 in jobs.filter(function(j) { return jobs[j.ParentJob] == job0 })
                  li(class='dropdown-header')= job1.JobName
                  each job2 in jobs.filter(function(j) { return jobs[j.ParentJob] == job1 })
                    li
                      a(href='/' + job2.EnglishName + '-' + cap)= job2.JobName
  div(class='container')
    div(class='row')
      each job in line
        div(class='col-md-4')
          div(class='panel panel-default')
            div(class='panel-heading')= job.JobName
            div(class='panel-body', )
              table(class='skill-table', style=static.skilltree(job))
                each skillRow in job.SkillTree
                  tr(class='skill-tr')
                    td(class='skill-td')
                      div(class='skill', style=static.skillicon(job.Skills[skillRow[0]]))
                    td(class='skill-td')
                      div(class='skill', style=static.skillicon(job.Skills[skillRow[1]]))
                    td(class='skill-td')
                      div(class='skill', style=static.skillicon(job.Skills[skillRow[2]]))
                    td(class='skill-td')
                      div(class='skill', style=static.skillicon(job.Skills[skillRow[3]]))
