extends layout
block custom_script
  -
    var urls  = JSON.stringify({
      mainbar: fn.url.mainbar(),
      border: fn.url.uitemplatetexture('uit_gesturebutton'),
      job: fn.url.json(line[2].EnglishName)
    });
    var job = JSON.stringify({
      EnglishName: line[2].EnglishName,
      MaxLevel: cap,
      Levels: levels,
      SP: sp_ratios,
      TSP: job_sp,
      Names: [line[0].JobName, line[1].JobName, line[2].JobName],
      ApplyType: apply_type,
      Free: free,
      BaseSkills: baseskills,
      SkillGroups: skillgroups,
      Cache: lvls,
      Sprites: sprites
    });
  script(type='text/javascript') var $TIMESTAMP='#{timestamp}',lang=!{JSON.stringify(lang)},db,Job=!{job},$Job=jQuery.extend(!0,{},Job),urls=!{urls}
  script(type='text/javascript', src=fn.url.js('maze.min'))
  script(type='text/javascript') var dskills=$('.dskill');dnss();

block content
  div.container
    div.modal#modal(tabindex='-1', role='dialog', aria-labeledby='warning', aria-hidden='true')
      div.modal-dialog: div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
          h4.modal-title#modal-title
        div.modal-body#modal-body
    div.row#changables
      div.col-xs-2
        div.form-inline: div.form-group
          select.form-control#level
          button#level-btn.btn.btn-sm.btn-default(type='reset')= lang.level.reset
      div.col-xs-7
        button#techs.btn.btn-sm.btn-default(type='button') Techniques
      div.col-xs-3
        div.btn-group.push-left
          button#free.btn.btn-sm(type='button', class={'btn-primary': free, 'btn-default': !free})= lang.mode.free
          button#strict.btn.btn-sm(type='button', class={'btn-primary': !free, 'btn-default': free})= lang.mode.strict
        div.btn-group.pull-right
          button#pve.btn.btn-sm(type='button', class={'btn-primary': !apply_type, 'btn-default': !!apply_type})= lang.apply[0]
          button#pvp.btn.btn-sm(type='button', class={'btn-primary': !!apply_type, 'btn-default': !apply_type})= lang.apply[1]
    div.row
      div.col-xs-12
        div.progress
          - var sum = job_sp[0] + job_sp[1] + job_sp[2], rem = max_sp - sum, progress = (sum / max_sp) * 100
          span#rem-progress= format(lang.progress.remaining, rem)
          span#curr-progress= format(lang.progress.curr, sum)
          div#progress.progress-bar.progress-bar-info(style={width: progress + '%'})
          span#max-progress= format(lang.progress.max, max_sp)
    div.row
      each job, index in line
        div.col-xs-4.noselect
          div.panel.panel-default(data-job=index)
            +panel_header(job, index)
            +panel_body(job)


mixin panel_header(job, index)
  div.panel-heading= job.JobName
    div.jobsprite(style=fn.image.job(job))
    span.label.pull-right #{job_sp[index]}/#{job_max_sp[index]}


mixin panel_body(job)
  div.panel-body
    table.skill-table(style=fn.image.skilltree(job, version))
      each skillRow in job.SkillTree
        tr.skill-tr
          each skillID in skillRow
            +skill(job.Skills[skillID], skillID)


mixin skill(skill, skillID)
  td(class='skill-td')
    if skill
      - var lvl = lvls[skillID]
      div.skill.dskill(data-skill=skillID)
        div.skill-bdr(class={g: !lvl[0]})
        div.badge.skill-lvl(class={g: lvl[3] == 1, 'b': lvl[3] == 2})
    else
      div.skill
  - tree_pos++;