extends layout

block custom_script                            
  script(type='text/javascript', src=static.js('dnss'))
  script(type='text/javascript').
    var skillicons="#{static.url()}/images/ui/mainbar"
    dnss()

block content
  div(class='container')
    div(class='row')
      each job in line
        div(class='col-md-4')
          div(class='panel panel-default')
            div(class='panel-heading')= job.JobName
              div(class='jobsprite', style=static.jobicon(job))
            div(class='panel-body')
              table(class='skill-table', style=static.skilltree(job))
                each skillRow in job.SkillTree
                  tr(class='skill-tr')
                    each skillID in skillRow
                      td(class='skill-td')
                        if job.Skills[skillID]
                          div(class='skill',data-skill=skillID, data-sprite=spriteImplode(job.Skills[skillID]))
                            div(class='skill-bdr')
                            div(class='badge skill-level') 16/29
                        else
                          div(class='skill')

