mixin row_tech(name, attr_id, key)
  div.row
    div.col-xs-2= name
    div.col-xs-10.form-inline
      +selection(attr_id, key)

mixin selection(attr_id, key)
  select.form-control.tech-select(id='tech-' + attr_id)
    option
    for job in line
      if job.Techs[key].length > 0
        optgroup(label=job.JobName)
          for skillID in job.Techs[key]
            option(value=skillID)= lookup[job.Skills[skillID].NameID]
  button.btn.btn-default.tech +1


+row_tech('Necklace', 'necklace', 'Necklace')
+row_tech('Earring', 'earring', 'Earring')
+row_tech('Ring 1', 'ring-1', 'Ring')
+row_tech('Ring 2', 'ring-2', 'Ring')
+row_tech('Weapon', 'weapon', 'Weapon')
div.row
  div.col-xs-2 Crest
  div.col-xs-10.form-inline
    select.form-control.tech-select#tech-crest
      option
      for job in line
        optgroup(label=job.JobName)
          for skill, skillID in job.Skills
            if skill.SPMaxLevel
              option(value=skillID)= lookup[skill.NameID]
    button.btn.btn-default.tech +1
